samples: samples.tsv
units: units.tsv

analysis: "exome"



references:
    basepath: "path_to_references_data"
    provider: "_provider_"
    release: "_release_"

genome_fasta: "_genome_fasta_"

known_variants:
    dbsnp: "known_variants/dbSNP146_chr.vcf"
    hapmap: "known_variants/hapmap_3.3.hg19.sites.vcf"
    g1k: "known_variants/1000G_phase1.snps.high_confidence.hg19.sites.vcf"
    omni: "known_variants/1000G_omni2.5.hg19.sites.vcf"
    mills: "known_variants/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf"
    ph1_indels: "known_variants/1000G_phase1.indels.hg19.sites.vcf"



intervals:
    NexteraRapidCaptureExpandedExome:
        bedTarget: "intervals/NexteraRapidCaptureExpandedExome_Target.bed"
        probes: "intervals/NexteraRapidCaptureExpandedExome_Probes.HybridSelection"
        hsTarget: "intervals/NexteraRapidCaptureExpandedExome_Target.HybridSelection"

    NimblegenSeqCapExomeUTR:
        bedTarget: "intervals/NimblegenSeqCapExomeUTR_Targets.bed"
        probes: "intervals/NimblegenSeqCapExomeUTR_Probes.HybridSelection"
        hsTarget: "intervals/NimblegenSeqCapExomeUTR_Targets.HybridSelection"

    NexteraRapidCaptureExomev1.2:
        bedTarget: "intervals/NexteraRapidCaptureExomev1.2_Target.bed"
        probes: "intervals/NexteraRapidCaptureExomev1.2_Probes.HybridSelection"
        hsTarget: "intervals/NexteraRapidCaptureExomev1.2_Target.HybridSelection"

    AgilentSureSelectHumanAllExonV6UTR:
        bedTarget: "intervals/AgilentSureSelectHumanAllExonV6UTR_Target.bed"
        probes: "intervals/AgilentSureSelectHumanAllExonV6UTR_Probes.HybridSelection"
        hsTarget: "intervals/AgilentSureSelectHumanAllExonV6UTR_Target.HybridSelection"

    AgilentSureSelectHumanAllExonV5UTR:
        bedTarget: "intervals/AgilentSureSelectHumanAllExonV5UTR_Target.bed"
        probes: "intervals/AgilentSureSelectHumanAllExonV5UTR_Probes.HybridSelection"
        hsTarget: "intervals/AgilentSureSelectHumanAllExonV5UTR_Target.HybridSelection"

    AgilentSureSelectHumanAllExonV7:
        bedTarget: "intervals/AgilentSureSelectHumanAllExonV7_Target.bed"
        probes: "intervals/AgilentSureSelectHumanAllExonV7_Probes.HybridSelection"
        hsTarget: "intervals/AgilentSureSelectHumanAllExonV7_Target.HybridSelection"

    AgilentSureSelectHumanAllExonV5:
        bedTarget: "intervals/AgilentSureSelectHumanAllExonV5_Target.bed"
        probes: "intervals/AgilentSureSelectHumanAllExonV5_Probes.HybridSelection"
        hsTarget: "intervals/AgilentSureSelectHumanAllExonV5_Target.HybridSelection"

    AgilentSureSelectHumanAllExonV4:
        bedTarget: "intervals/AgilentSureSelectHumanAllExonV4_Target.bed"
        probes: "intervals/AgilentSureSelectHumanAllExonV4_Probes.HybridSelection"
        hsTarget: "intervals/AgilentSureSelectHumanAllExonV4_Target.HybridSelection"

    NimblegenSeqCapEZExomeV2:
        bedTarget: "intervals/NimblegenSeqCapEZExomeV2_Target.bed"
        probes: "intervals/NimblegenSeqCapEZExomeV2_Probes.HybridSelection"
        hsTarget: "intervals/NimblegenSeqCapEZExomeV2_Target.HybridSelection"

    IDT_xGen_ExomeResearchPanel_v1:
        bedTarget: "intervals/IDT_xGen_ExomeResearchPanel_v1_Target.bed"
        probes: "intervals/IDT_xGen_ExomeResearchPanel_v1_Probes.HybridSelection"
        hsTarget: "intervals/IDT_xGen_ExomeResearchPanel_v1_Target.HybridSelection"

    Twist_Exome:
        bedTarget: "intervals/Twist_Exome_Target.bed"
        probes: "intervals/Twist_Exome_Probes.HybridSelection"
        hsTarget: "intervals/Twist_Exome_Target.HybridSelection"


intervals_default: "AgilentSureSelectHumanAllExonV7"
samples_intervals:
    DNA16-0389-R0001: "AgilentSureSelectHumanAllExonV7"
db_suffix: "db_"

tmp_dir: "path_to_tmp_dir"
paths:
    to_tmp: "path_to_tmp_dir"
    to_gvcfs: "path_to_gvcfs"
    to_recalibrated_vcf: "path_to_recalibrated_vcf"

repository:
    dima: "git@github.com:massiddamt/dima.git"
    gatkdoc_plugin: "https://github.com/massiddamt/gatkdoc_plugin.git"


rules:
    bwa-mem:
        arguments: "-M"
        platform: "illumina"
    multiqc:
        arguments: "--force "
    trim_galore_pe:
        arguments: "--paired -q 20"
    picard_MarkDuplicates:
        arguments: "REMOVE_DUPLICATES=false ASSUME_SORTED=true CREATE_INDEX=true"
    picard_WGSMetrics:
        arguments: "MINIMUM_MAPPING_QUALITY=-1 MINIMUM_BASE_QUALITY=-1 READ_LENGTH=150 COUNT_UNPAIRED=true"

    gatk_BQSR:
        known_sites:
            - dbsnp
            - mills
            - ph1_indel

    gatk_SelectVariants:
        samples_files:
            setA: "project_path/set_A.args"
        arguments: [
                   ["--exclude-filtered", ""],
                   ["--exclude-non-variants", ""]
                   #["-se", "DNA16-038*"],
                   #["-sn", "DNA16-0284-R0001"]
                   ]
    kggseq:
        arguments: [
                   ["--db-gene", "refgene,gencode,knowngene,ensembl"],
                   ["--splicing", "13"],
                   ["--neargene", "1000"],
                   ["--db-filter", "1kg201305,ESP6500AA,ESP6500EA,dbsnp141,dbsnp138,exac,gadexome,gadgenome"],
                   ["--rare-allele-freq", "0.05"],
                   ["--db-score", "dbnsfp"],
                   ["--mendel-causing-predict", "best"],
                   ["--genome-annot", ""],
                   ["--omim-annot", ""],
                   ["--cosmic-annot", ""],
                   ["--mouse-pheno", ""],
                   ["--zebrafish-pheno", ""],
                   ["--ddd-annot", ""],
                   ["--superdup-annot", ""],
                   ["--scsnv-annot", ""],
                   ["--dgv-cnv-annot", ""]
                   ]
        cmd: "java -Djava.awt.headless=true -jar path_to_software/kggseq-1.0/kggseq.jar"
        ped_file: "path_to_ped_file"
    tabix:
        params: "-s1 -b2 -e2"
    format_annotation:
        blocks_file: "path_to_blocks_file/annot.blocks"
    bcftools_annotate_remove:
        params: "-x INFO/ReferenceAlternativeAllele,INFO/rsID,INFO/SIFT_score,INFO/Polyphen2_HDIV_score,INFO/Polyphen2_HVAR_score,INFO/LRT_score,INFO/MutationTaster_score,INFO/MutationAssessor_score,INFO/FATHMM_score,INFO/PROVEAN_score,INFO/M-CAP_score,INFO/MutPred_score,INFO/CADD_raw,INFO/fathmm-MKL_coding_score,INFO/Eigen-raw,INFO/VEST3_score,INFO/GenoCanyon_score,INFO/integrated_fitCons_score,INFO/MetaSVM_score,INFO/clinvar_trait,INFO/clinvar_golden_stars,INFO/DiseaseCausalProb_ExoVarTrainedModel,INFO/IsRareDiseaseCausal_ExoVarTrainedModel,INFO/BestCombinedTools:OptimalCutoff:TP:TN,INFO/GeneMIMid,INFO/DGVIDs,INFO/DS,INFO/END,INFO/InbreedingCoeff,INFO/MLEAC,INFO/MLEAF,INFO/NEGATIVE_TRAIN_SITE,INFO/POSITIVE_TRAIN_SITE,INFO/RAW_MQ,INFO/SOR,INFO/VQSLOD,INFO/culprit,INFO/BaseQRankSum,INFO/ClippingRankSum,INFO/ExcessHet,INFO/FS,INFO/HaplotypeScore,INFO/MQRankSum,INFO/ReadPosRankSum"
    bcftools_reheader:
        reheader: "path_to_reheader_file/reheader.txt"