# This file may be used to create an environment using:
# $ conda create --name snakemake-venv -c bioconda --file <this file>

snakemake=4.2.0
drmaa=0.7.6
gatk=3.7
r-base=3.4.1
r-gsalib=2.1
r-ggplot2=2.2.0
r-reshape=0.8.6
r-gplots=3.0.1